<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                        https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
    version="6.1"
    metadata-complete="false">

    <display-name>OIC Timetable</display-name>
    <description>
        See which rooms are booked at the OIC.
    </description>

    <request-character-encoding>UTF-8</request-character-encoding>

    <servlet>
      <servlet-name>OICRoomsServlet</servlet-name>
      <servlet-class>OICRoomsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OICRoomsServlet</servlet-name>
        <url-pattern>/room/*</url-pattern>
    </servlet-mapping>

    <Connector port="8080" protocol="org.apache.coyote.http11.Http11NioProtocol"
           maxConnections="10000"
           maxThreads="200"
           asyncTimeout="0" />
</web-app>
